.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__logo {
  object-fit: contain;
}

.login__form {
  margin-top: 10px;
}

.login__email {
  margin-top: 10px;
}

.login__password {
  margin-top: 10px;
}

.login__button {
  margin-top: 20px;
  padding: 10px !important;
}

.login__signUpLink {
  font-family: Gotham Pro, Trebuchet MS, Helvetica, sans-serif;
  margin-top: 10px;
}

.login__signUpLink > a {
  text-decoration: none;
  color: #868686 !important;
}
